@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: row;
  align-items: center; */

  font-size: calc(10px + 2vmin);
  color: white;
}
.nav-bar {
}
.containar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 5%;
}

button {
  border-radius: 0.3rem;
  background-color: #546891;
  font-size: 1.2rem;
  padding: 0rem 0.4rem;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #404c66;
}

.inputs {
  justify-content: center;
  align-items: center;
}
.output1 {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cairo", sans-serif;
}

h3 {
  font-size: 1rem;
}
input[type="text"] {
  font-family: "Cairo", sans-serif;
  width: 50%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 0.2rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}
input[type="text"]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 5px 0 dodgerblue;
}
label {
  font-family: "Cairo", sans-serif;
  width: 8rem;
  font-size: 1.5rem;
}
.output1 li {
  list-style-type: none;
  margin-right: 2rem;
  font-size: 2rem;
  line-height: 5rem;
}
/* @media screen and (min-width: 300px) {
  h2 {
    position: relative;
    top: 40px;
    left: 40px;
  }
} */
.sbmitdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: large;
}
.sbmitButton {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: bolder;
}
